<h1><small><%= @contacts.contact_name().capitalize %></small></h1>
<hr>

<form action="/phone_numbers" method="post">
  <input id='contact_id' name='contact_id' type='hidden' value='<%= @contacts.id() %>'>
  <label for='phone_number'>Enter Phone #</label>
  <input id='phone_number' name='phone_number' type='text' required>
  <br>
  <label for='phone_type'>Enter Type of phone (mobile, work, home)</label>
  <input id='phone_type' name='phone_type' type='text'>
  <button type='submit' class='btn btn-primary'>Add Contact Number</button>
<form>
<hr>
<hr>

<a href='/'>Back to Phone Book</a>

<br><br>
  <% if @contacts.phone_number() == [] %>
  <p><small>(no contact numbers currently stored)</small></p>
  <% else @contacts.phone_number().each() do |phone_object| %>
<ul>
  <li><%= phone_object.phone_type().capitalize %> <%= phone_object.phone_number() %></li>
</ul>
<% end %>
<% end %>
