<h1>Phone Book</h1>

<form action="/contacts" method="post">
  <label for="contact">Enter new contact:</label>
  <input id="contact" name="contact" type="text" required>
  <br>
  <button type="submit" class="btn btn-primary">Add Contact</button>
  <form>
  <br><br>
<% if @contacts == [] %>
  <p>no contacts in phone book.</p>
<% else @contacts.each() do |contact| %>
  <ul>
    <li><a href="/contacts/<%= contact.id() %>"><%= contact.contact_name().capitalize %></a></li>
  </ul>
  <% end %>
<% end %>
